<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Mental Health Literacy | MentalHub</title>

        <link rel="stylesheet" th:href="@{/resources/css/nav-bar.css}"/>
    </head>

    <body>
        <header class="main-header">
            <div class="logo">
                <a th:href="@{/profile}"><img th:src="@{/resources/images/logo.png}" alt="MentalHub Logo" style="height: 80px;"></a>
            </div>
            
            <nav class="user-nav">
                <a th:href="@{/notifications}" class="notification-icon">🔔</a>
                
                <a th:href="@{/logout}">Logout</a>
            </nav>
        </header>
    </body>
</html>