<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="main-header">
    <header class="header">
            <div class="logo-container">
                <a th:href="@{/peer}"><img th:src="@{/resources/images/logo.png}" alt="MentalHub Logo" style="height: 80px;"></a>
            </div>
            
            <nav class="header-right">
                <a th:href="@{/logout}" class="logout-link">Logout</a>
                <a th:href="@{/notifications}" class="notification-icon">
                    🔔
                    <div class="notification-badge" th:if="${session.unreadCount != null and session.unreadCount > 0}" th:text="${session.unreadCount}">0</div>
                </a>
            </nav>
        </header>
</div>

</body>
</html>